@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #010101;
  --primary: #C61AFF;
  --primaryLight : #f8eafb;
  --secondary: #1a1a1a;
  --stock: #959595;
  --gray: #959595;
  --font-Manrope-sans: 'Manrope', sans-serif;
  --font-Manrope-mono: 'Manrope', monospace;
  --radius: 80px;
  --danger : "#E33629"
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primaryLight : var(--primaryLight);
  --color-secondary: var(--secondary);
  --color-stock: var(--stock);
  --color-gray: var(--gray);
  --radius: var(--radius);
  --danger: var(--danger);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(  --font-Manrope-sans);
}

p{
  line-height: 1.6;
}

@layer utilities {
  .h1 {
    @apply text-4xl sm:text-6xl font-bold leading-tight uppercase;
  }
  .h2 {
    @apply text-2xl md:text-3xl uppercase font-semibold inline-block md:mt-0 mb-6 ;
  }
  .h2White {
    @apply text-2xl md:text-3xl uppercase font-bold inline-block md:mt-0 mb-6 ;
  }
  .h3{
    @apply text-2xl font-semibold mb-4
  }
  .Active{
    @apply bg-green-100 text-green-700;
  }
  .Closed {
    @apply bg-red-100 text-red-600;
  }
}

/* error */

form .error {
  border: 1px solid #F00 !important;
}
form .error-msg {
  color: #F00;
  font-size: 16px;
}
.form-label {
  margin-bottom: 0px;
}

.required{  
  color: red;
  font-size: 16px;
  font-weight: bold;  
}

.hint{
  color: #c7c7c7;
  font-size:14px;  
}

.imagebox{
  position: relative;  
}

.imagebox i{  
  color: #ed3c0d;
  font-size: 22px;
  cursor: pointer;
}

/* sweetalert2 [start] */
div:where(.swal2-container) h2:where(.swal2-title) {
  position: relative;
  max-width: 100%;
  margin: 0;
  padding: .8em 1em 0;
  color: inherit;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  text-transform: none;
  word-wrap: break-word;
}

div:where(.swal2-container) .swal2-html-container {
  z-index: 1;
  justify-content: center;
  margin: 0;
  padding: 1em 1.6em .3em;
  overflow: auto;
  color: inherit;
  font-size: 18px;
  font-weight: normal;
  line-height: normal;
  text-align: center;
  word-wrap: break-word;
  word-break: break-word;
}

.swal2-modal{
  padding: 20px;
  width: 400px !important;
}

div:where(.swal2-container) div:where(.swal2-popup) {
  width: auto !important;
}
/* sweetalert2 [ends] */