body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.col-xl-3.col-md-3.my-3.mx-5.hover-effect {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.col-xl-3.col-md-3.my-3.mx-5.hover-effect:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.col-xl-3.col-md-6.mx-5.my-4.hover-affect {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.col-xl-3.col-md-6.mx-5.my-4.hover-affect:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

